//colors
$primary-color: #FFE600;
$dark-color: #000;
$dark-gray-color: #333333;
$medium-gray-color: #666666;
$gray-color: #999999;
$light-gray-color: #EEEEEE;
$blue-color: #3483FA;
$white-color: #FFF;
$bg-color: #ebebeb;

//Spacing
$spacing-8: 8px;
$spacing-16: 16px;
$spacing-32: 32px;
$spacing-48: 48px;
$spacing-64: 64px;

//Breakpoints
$screen__s: 576px;
$screen__m: 768px;
$screen__l: 1200px;

