@import '../../styles/base/variables';
  
  .search {
    display: flex;
    flex-flow: row nowrap;
    border-radius: 4px;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
  
    &__input {
      border: 0px;
      width: 95%;
      font-size: 18px;
      padding: 8px 12px;
      position: relative;
      color: $gray-color;
  
      &::placeholder {
        color: $light-gray-color;
        opacity: 1;
      }
    }
  
    &__button {
      border: 0px;
      padding: 9px 8px 7px 10px;
      position: relative;
      color: $gray-color;
      vertical-align: bottom;
      cursor: pointer;
    }
  }